/data
/data.bin
.DS_Store
/ios/build/
/sqlite3-extension/proto.dylib
/sqlite3-extension/proto.so
/sqlite3-extension/wanikani.pb.*
**/xcuserdata/
**/xcshareddata/
/ios/*.ipa
/ios/*.dSYM.zip
/workspace
/ios/gc_keys.json
ios/SwiftFormatTools/Package.resolved
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormatTools.build/module.modulemap
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.swiftsourceinfo
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.swiftdoc
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/swiftformat.product/Objects.LinkFileList
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/swiftformat.dSYM/Contents/Resources/DWARF/swiftformat
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/swiftformat.dSYM/Contents/Info.plist
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Tokenizer.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/SwiftFormat.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/SwiftFormat.d
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/SwiftFormat-Swift.h
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Rules.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/ParsingHelpers.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/output-file-map.json
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Options.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/OptionDescriptor.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/module.modulemap
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/master.swiftdeps~moduleonly
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/master.swiftdeps
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Inference.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Globs.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/FormattingHelpers.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Formatter.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Examples.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/EnumAssociable.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/CommandLine.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/SwiftFormat.build/Arguments.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/swiftformat
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/XPC-34PY5YVCUHF3T.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/Swift-3HTGNBKLL3KAS.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/ObjectiveC-W0RFK2XOE8CP.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/modules.timestamp
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/IOKit-11J07AB1KWZDL.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/Foundation-1WDXOH3P8Q9CR.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/Dispatch-R1NP74FYZRF7.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/Darwin-2Y3VZ1Z0MPFU6.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/CoreGraphics-F1TS1E82YTO2.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/CoreFoundation-3JXGGG2UFCRV9.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/Combine-327OE35LQSVB8.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/XPC-3LIAJY90PG03M.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/SwiftShims-2DA6NLEWJC11R.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/SwiftOverlayShims-2DA6NLEWJC11R.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/Security-2RB2R7QDU33DQ.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/ptrauth-1KLO22F5ZEOA9.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/os_workgroup-1IVCWVLR6MT9T.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/os_object-1IVCWVLR6MT9T.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/ObjectiveC-1A3ZNHZR9RRLF.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/MachO-2UHIFKDZCI0YX.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/libkern-1IVCWVLR6MT9T.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/launch-1IVCWVLR6MT9T.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/IOKit-PMP3SCKMT7TH.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/ImageIO-3MTK4VGYXNJP8.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/Foundation-2FJBXN8U6QRTS.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/Dispatch-2M9AOUJY3TW9V.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/DiskArbitration-1YS8ZT252YZXQ.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/Darwin-1IVCWVLR6MT9T.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/CoreText-4BX5WGXMXE7W.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/CoreServices-199P4UTAUTZ7C.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/CoreGraphics-MC4FPA2MN9QR.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/CoreFoundation-RZX25862PY17.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/ColorSync-3E49XPWC4LN6N.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/CFNetwork-WOPYBVYTVV3P.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/ApplicationServices-XV6KNRUFW5PV.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/_Builtin_stddef_max_align_t-1KLO22F5ZEOA9.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/ModuleCache/20LFTZNFHDBNW/_Builtin_intrinsics-1KLO22F5ZEOA9.pcm
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/description.json
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.swiftsourceinfo
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.swiftmodule
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.swiftdoc
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.build/output-file-map.json
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.build/master.swiftdeps~moduleonly
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.build/master.swiftdeps
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.build/main.swift.o
ios/SwiftFormatTools/.build/x86_64-apple-macosx/release/CommandLineTool.build/CommandLineTool.d
ios/SwiftFormatTools/.build/x86_64-apple-macosx/build.db
ios/SwiftFormatTools/.build/workspace-state.json
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/packed-refs
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/objects/pack/pack-f00352ed78714bf76bf2bf29ed0fa5e4949a75bd.pack
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/objects/pack/pack-f00352ed78714bf76bf2bf29ed0fa5e4949a75bd.idx
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/info/exclude
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/update.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/prepare-commit-msg.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/pre-receive.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/pre-rebase.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/pre-push.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/pre-merge-commit.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/pre-commit.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/pre-applypatch.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/post-update.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/fsmonitor-watchman.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/commit-msg.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/hooks/applypatch-msg.sample
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/HEAD
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/description
ios/SwiftFormatTools/.build/repositories/SwiftFormat-0610bb0d/config
ios/SwiftFormatTools/.build/repositories/checkouts-state.json
ios/SwiftFormatTools/.build/release.yaml
ios/SwiftFormatTools/.build/release
ios/SwiftFormatTools/.build/manifest.db
ios/SwiftFormatTools/.build/checkouts/SwiftFormat/
